/************/
/*** BODY ***/
/************/

.page {
  font-family: var(--main-font), "Courier New", Courier, monospace;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--body-background-color);
}

/*******************/
/*** DECORATIONS ***/
/*******************/

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px; /*media*/
  right: 0;
  border-right: var(--base-border);
  border-top: var(--base-border);
}

.decorated-zone::after {
  bottom: 10px; /*media*/
  left: 0;
  border-left: var(--base-border);
  border-bottom: var(--base-border);
}

.rec {
  position: relative;
}

.rec span {
  position: absolute;
  top: 3px;
  right: 32px;
  color: var(--rec-color);
}

.rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  height: 10px;
  background-color: var(--rec-color);
  border-radius: 50%;
}

/*************************/
/*** HEADER AND FOOTER ***/
/*************************/

.header,
.footer {
  position: relative;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-rows: 0fr repeat(3, 1fr);
  margin-bottom: 40px; /*media*/
  padding-top: 10px; /*media*/
}

.header__theme-menu {
  display: flex;
  justify-content: end; /*media*/
  align-items: center; /*media*/
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column; /* media */
  gap: 11px;
  list-style: none;
  margin-top: 5px; /*media*/
}

.header__theme-menu-button {
  display: flex;
  justify-content: space-around;
  padding: 0;
  background: transparent;
  border: solid 1px transparent;
  text-transform: lowercase;
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  color: var(--section-title-color);
  width: 70px;
  height: 26px;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*media*/
  font-weight: var(--bold-font-weight);
  line-height: 82.5%;
  text-shadow: var(--title-text-shadow);
  color: var(--title-color);
}

.header__title {
  margin-top: 10px; /*media*/
}

.header__subtitle {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__subtitle .content__paragraph-title {
  max-width: 364px; /*media*/
  margin-bottom: 50px; /*media*/
  margin-top: 0;
}

.header__theme-menu-button_active {
  border: var(--base-border);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /*media*/
}

/************/
/*** MAIN ***/
/************/

.content {
  display: flex;
  flex-direction: column;
  gap: 50px; /*media*/
}

.content__section {
  margin-left: 10px; /*media*/
  margin-right: 10px; /*media*/
}

.content__section-title,
.content__paragraph-title {
  color: var(--section-title-color);
  font-size: var(--base-font-size);
  font-weight: var(--bold-font-weight);
}

.content__paragraph-title:not(.gallery .content__paragraph-title) {
  margin-top: 21px; /*media*/
}

.content__paragraph-subtitle {
  font-weight: var(--base-font-weight);
  margin-top: 20px; /*media*/
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.content__paragraph {
  color: var(--paragraph-color);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: 23.4px;
  margin-top: 10px; /*media*/
}

.content__paragraph-link {
  color: var(--paragraph-color);
  text-decoration: none;
  text-shadow: var(--link-text-shadow);
}

.content__paragraph-link:hover {
  border-bottom: solid 1px var(--paragraph-color);
}

.content__paragraph-link:focus-visible {
  outline: solid 1px var(--paragraph-color);
}

/**************/
/*** GALERY ***/
/**************/

.gallery__items {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  margin-top: 10px; /*media*/
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*****************/
/*** MEDIA 768 ***/
/*****************/

@media screen and (min-width: 580px) {
  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header {
    margin-bottom: 60px;
    padding-top: 20px;
  }

  .header__theme-menu-list {
    margin-top: 110px;
  }

  .header__title {
    margin-top: 110px;
    margin-left: -20px;
  }

  .header__subtitle .content__paragraph-title {
    margin-bottom: 170px;
  }

  .content {
    gap: 80px;
  }

  .content__section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .challenges,
  .howto__focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .fraction__2-from-3 .content__paragraph-title:first-child {
    margin-top: 0;
  }

  .fraction__1-from-4 {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .gallery__items {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr 0.8fr 1.2fr;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
  .sunset {
    grid-area: sunset;
  }
  .ice-cream {
    grid-area: ice-cream;
  }
  .books {
    grid-area: books;
  }
  .tape {
    grid-area: tape;
  }
  .street {
    grid-area: street;
  }

  .footer {
    margin-top: 25px;
  }
}

/******************/
/*** MEDIA 1024 ***/
/******************/

@media screen and (min-width: 900px) {
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-top: 0;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-top: 50px;
  }

  .header__subtitle .content__paragraph-title {
    max-width: 491px;
    margin-bottom: 110px;
  }

  .fraction__1-from-4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .fraction__3-from-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
